# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
/**/node_modules
# Windows Installer files * .cab * .msi * .msm * .msp

# Windows shortcuts * .lnk
public/images/zhihu_Down
public/images/upload
NodeCode/async-zhihu/img
NodeCode/tubatu/img
NodeCode/tubatu/ALL
NodeCode/tubatu/img2
NodeCode/books/down
NodeCode/async-中国创意摄影大赛/img/
NodeCode/weibo-spider/spider-of-weibo-master/img_download/img

# ========================= 
# Operating System Files
# ========================= 

# OSX
# ========================= 

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._ * 

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vscode/launch.json
