<!-- 马少博  创建于 2017年5月8日14:08:44 -->
<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='shortcut icon' href='https://raw.githubusercontent.com/OldSixLi/ListPage/master/public/images/my.ico' />
  <title> Vue表格</title>
  <link href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="../../Style/vue-index.css">
  <link rel="stylesheet" href="../../Style/vue-base.css">
</head>

<body>
  <!--NOTE HTML代码部分-->


  <!--　◆◆　　◆◆◆◆◆◆◆◆◆◆　◆◆◆◆◆◆　　　　
　　◆　　◆　◆　◆　◆　◆◆　◆◆　　◆　　　　　
　　◆　　◆　　　◆　　　◆◆　◆◆　　◆　　　　　
　　◆◆◆◆　　　◆　　　◆◆　◆◆　　◆　　　　　
　　◆　　◆　　　◆　　　◆　◆　◆　　◆　　　　　
　　◆　　◆　　　◆　　　◆　◆　◆　　◆　　　　　
　　◆　　◆　　　◆　　　◆　◆　◆　　◆　　　◆　
　◆◆　　◆◆　◆◆◆　◆◆　◆　◆◆◆◆◆◆◆◆　
　　　　　　　　　　　　　　　　　　　　　　　　　　-->

  <div class="container" id="tableContent">
    <h1 class="text-center">表格复用插件</h1>
    <div class="row" style="margin-bottom: 15px;">
      <!-- 消除外边距 -->
      <div class="col-md-12">
        <div class="form-inline pull-right">
          <div class="form-group">
            <label for="">年龄</label>
            <input type="text" class="form-control" id="age" name="age" v-model="age" placeholder="请输入用户年龄">
            <label for="">名称</label>
            <input type="text" class="form-control" id="name" name="name" v-model="name" placeholder="请输入用户昵称">
            <button type="submit" class="btn btn-primary" @click="toSearch">搜索</button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">表格复用组件示例</div>
      <!--外部组件-->
      <ht-table ajaxurl="/users/allUser" :search-data="searchData">
        <!--内部组件-->
        <column slot name="名称" data-key="name"></column>
        <column slot name="性别" data-key="gender" align="center" filter="toGender"></column>
        <column slot name="时间" data-key="Regtime" align="center" filter="normaltime"></column>
        <column slot name="头像" data-key="iconUrl" align="center" filter="toImg"></column>
        <column slot name="编辑" data-key="ID" align="center" filter="toHref"></column>
      </ht-table>
    </div>

    <!--NOTE 下一个表格-->
    <ht-table ajaxurl="/users/users" :search-data="otherData">
      <column slot name="名称" data-key="name" align="center"></column>
      <column slot name="性别" data-key="gender" align="center" filter="toGender"></column>
      <column slot name="头像" data-key="iconUrl" align="center" filter="toImg"></column>
      <column slot name="编辑" data-key="ID" align="center" filter="toHref"></column>
    </ht-table>

  </div>
  <!--脚本代码-->
  <script type="text/x-template" id="ht-table">
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th v-show="showindex=='true'||showindex==null">#</th>
            <th v-for="x in rule" :width="x.width">{{x.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(x,index) in valuelist">
            <td v-show="showindex=='true'||showindex==null">{{index+1}}</td>
            <td v-for="y in rule">
              <span v-html="render(x[y.dataKey],y.filter)"> </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pull-right page">
        <ul class="pagination"></ul>
      </div>
      <span style="display:none;">{{searchDatas}}</span>
    </div>
  </script>
  <!--
　　　　　　◆　　　　　　　　　　　◆　　　　　　
　◆◆◆　　◆　　◆◆◆　　　　　　◆　　　　　　
　◆　◆　◆◆◆　◆　◆　◆◆◆◆◆◆◆◆◆◆◆　
　◆　◆　　◆　　◆　◆　　　　　　◆　　　　　　
　◆◆◆　　◆　　◆　◆　　　　　◆◆◆　　　　　
　◆　◆　◆◆◆　◆　◆　　　　◆　◆　◆　　　　
　◆　◆　　◆　　◆　◆　　　　◆　◆　◆　　　　
　◆◆◆　◆　　　◆　◆　　　◆　　◆　　◆　　　
　◆　◆　◆　◆　◆　◆　　◆　　　◆　　　◆　　
　◆　◆　◆◆◆　◆◆◆　◆　◆◆◆◆◆◆◆　◆　
　◆　◆　　　　　◆　　　　　　　　◆　　　　　　
　　◆◆　　　　　◆　　　　　　　　◆　　　　　　-->
  <!--NOTE脚本部分-->
  <script src='http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js' type='text/javascript'></script>
  <script src='http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js' type='text/javascript'></script>
  <script src='../../Script/bootstrap-paginator.js' type='text/javascript'></script>
  <script src='../../Script/Vue/vue.js' type='text/javascript'></script>
  <script src="https://cdn.bootcss.com/vue-resource/1.3.1/vue-resource.min.js" type='text/javascript'></script>
  <script type='text/javascript'>
    // 　　◆　　　　　　　◆　　　　　　　　◆◆◆◆　　
    // 　　　◆　　　　　　◆　　◆　　　　　◆　　　　　
    // 　　　　　　　　　　◆　　　◆　◆◆◆◆◆◆◆◆　
    // 　　　　　◆◆◆◆◆◆◆　　　　◆　　◆　　　◆　
    // 　◆◆◆　　　　　　◆　　　　　◆　　◆◆◆　　　
    // 　　　◆　　◆　　　◆　　◆　　◆◆◆◆　　　◆　
    // 　　　◆　　　◆　　◆　　　◆　◆　　　◆◆◆◆　
    // 　　　◆　　　◆　　◆　　　　　◆　　◆　　　　　
    // 　　　◆　　　　　　◆　　　　　◆　　　◆　　　　
    // 　　　◆　　　　◆◆◆　　　◆　◆　◆　　　◆　　
    // 　　◆　◆　　　　　　　　◆　　◆◆　◆　◆　◆　
    // 　◆　　　◆◆◆◆◆◆◆　　　◆　　　◆◆◆　　　
    //NOTE 全局过滤插件　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
    Vue.filter('normaltime', function(value) {
      //这个过滤器必须是毫秒级别的过滤
      var tm = Date.parse(value);
      var tt = new Date(parseInt(tm)).toLocaleString('chinese', {
        hour12: false
      }).replace(/\//g, "-");
      return tt;
    });　　
    Vue.filter('toGender', function(value) {
      return value == "M" ? "男" : "女";
    });　　

    function toGender(value) {
      return value == "M" ? "男" : "女";
    };

    function toHref(value) {
      var str = "<a href='www.baidu.com?id=" + value + "'>好的</a>";
      return str;
    }

    function toImg(value) {
      var str = "<img src='" + value + "'/>";
      return str;
    }

    function normaltime(value) {
      //这个过滤器必须是毫秒级别的过滤
      var tm = Date.parse(value);
      var tt = new Date(parseInt(tm)).toLocaleString('chinese', {
        hour12: false
      }).replace(/\//g, "-");
      return tt;
    }

    　　　　　　　　　　　　　　　
    // 　　　◆　　　◆　◆　　　　　◆　　　　　　◆◆　
    // 　　　◆　◆◆◆◆◆◆◆　　　◆　　◆◆◆◆　　　
    // 　　　◆　　　◆　◆　　　　　◆　　◆　　　　　　
    // 　◆◆◆◆　◆◆◆◆◆　　◆◆◆◆　◆　　　　　　
    // 　　　◆　　◆　　　◆　　　　◆　　◆◆◆◆◆◆　
    // 　　◆◆　　◆◆◆◆◆　　　◆◆◆　◆　◆　　◆　
    // 　　◆◆◆　◆　　　◆　　　◆◆　◆◆　◆　　◆　
    // 　◆　◆　　◆◆◆◆◆　　◆　◆　　◆　◆　◆　　
    // 　　　◆　　　　◆　　　　　　◆　　◆　◆　◆　　
    // 　　　◆　◆◆◆◆◆◆◆　　　◆　　◆　　◆　　　
    // 　　　◆　　　◆　◆　　　　　◆　◆　　◆　◆　　
    // 　　　◆　◆◆　　　◆◆　　　◆◆　　◆　　　◆　
    //NOTE 模板声明部分
    Vue.component('ht-table', {
      template: '#ht-table',
      //NOTE 如何在此处将数据进行过滤处理是一个问题
      //获取当前的过滤器并进行处理
      props: ["ajaxurl", "searchData", "showindex"],
      data: function() {
        return {
          valuelist: [],
          rule: [],
          nameurl: "李三丰"
        }
      },
      filter: {
        toGender: function(value) {
          return value == "M" ? "男" : "女";
        }
      },
      methods: {
        toshow: function(e) {
          e.preventDefault();
          this.$emit("chuandi");
        },
        //异步请求数据
        getlist: function(pageindex) {
          var data = new Object();
          var self = this;
          var params = new Object();
          params = this.searchData;

          params.page = pageindex;
          $.ajax({
            type: "GET",
            url: this.ajaxurl,
            data: params,
            dataType: "json",
            success: function(data) {
              if (data != null && data != "") {
                if (data.dataSuccess) {
                  self.valuelist = data.data;
                  var $page = $(self.$el.childNodes[2]).find("ul");
                  self.initPageDiv($page,
                    pageindex + 1,
                    data.totalPages,
                    5,
                    $page,
                    function() {
                      self.getlist($page.data("page") - 1);
                    });
                } else {}　
              } else {}
            }　
          });
        },
        render: function(tdData, rule) {
          //如果filter存在
          if (rule) {
            var filter = rule;
            if (window[filter]) {
              var newdata = window[filter](tdData);
              return newdata;
            } else {
              return tdData;
            }
          } else {
            return tdData;
          }
        },
        // 分页方法初始化
        initPageDiv: function($dom, now, all, each, $dom2, change) {
          if (parseInt(now) > parseInt(all)) {
            return;
          }
          var options = {
            bootstrapMajorVersion: 3,
            currentPage: now, // 当前页
            totalPages: all, // 共几页
            numberOfPages: each, // 每次显示几页
            itemTexts: function(type, page, current) { // 修改显示文字
              switch (type) {
                case "first":
                  return "首页";
                case "prev":
                  return "<";
                case "next":
                  return ">";
                case "last":
                  return "尾页";
                case "page":
                  return page;
              }
            },
            onPageClicked: function(event, originalEvent, type, page) { // 异步换页
              $dom2.data("page", page);
              change();
            }
          }
          $dom.bootstrapPaginator(options);
        },
        parseText: function(str) {
          if (str.indexOf(0) == ("{") || str.indexOf(0) == ("[")) {
            str = str.replace(/'/g, "\"");
            str = str.replace(/(\s?\{\s?)(\S)/g, "$1" + "\"" + "$2");
            str = str.replace(/(\s?,\s?)(\S)/g, "$1" + "\"" + "$2");
            str = str.replace(/(\S\s?):(\s?\S)/g, "$1" + "\":" + "$2");
            str = str.replace(/,"\{/g, ",{");
            str = str.replace(/""/g, "\"");
            str = str.replace(/\s/g, "");
            try {
              str = JSON.parse(str)
            } catch (e) {}
          }
          return str;
        }
      },
      computed: {
        searchDatas: function() {
          this.getlist(0);
          return this.searchData;
        }
      },
      //在组件加载完成后的钩子
      mounted: function() {　
        this.getlist(0);
        var _this = this;
        _this.$slots.default.forEach(function(child) {
          var obj = {};
          for (var p in child.componentOptions.propsData) {
            obj[p] = child.componentOptions.propsData[p]
          }
          _this.rule.push(obj);
        })
      }
    });
    Vue.component('column', {
      template: '<span style="display: none">123</span>',
      // template: '<span>123</span>',
      props: {
        dataKey: {
          type: String
        },
        name: {
          type: String,
          required: true
        },
        align: {
          type: String,
          default: 'left'
        },
        filter: [String, Array],
        width: String,
        action: [String, Array, Object]
      },
      data: function() {
        return {}
      },
      mounted: function() {
        // 把{key:1}变成object
        var filter = this.filter;
        if (filter && !$.isPlainObject(filter)) {
          this.filter = this.parseText(filter);
        }
        var action = this.action;
        if (action && !$.isPlainObject(action)) {
          this.action = this.parseText(action);
          if ($.isPlainObject(this.action)) {
            this.action = [this.action];
          }
        }
      }
    });
    // 　　　　　　◆　　　　　　　◆◆◆◆◆　◆◆◆◆◆　
    // 　◆◆◆◆◆◆◆◆◆◆◆　　◆　　　◆　◆　　　◆　
    // 　　　　　　◆　　　　　　　◆　　　◆　◆　　　◆　
    // 　　◆◆◆◆◆◆◆◆◆　　　◆　　　◆　◆◆◆◆◆　
    // 　　　　　　　　　　　　　　◆◆◆◆◆　◆　　　◆　
    // 　　◆◆◆◆◆◆◆◆◆　　　◆　　　◆　◆　　　◆　
    // 　　◆　　　◆　　　◆　　　◆　　　◆　◆◆◆◆◆　
    // 　　◆　　　◆　　　◆　　　◆　　　◆　◆　　　◆　
    // 　　◆◆◆◆◆◆◆◆◆　　　◆◆◆◆◆　◆　　　◆　
    // 　　◆　　　　　　　◆　　　◆　　　　　◆　　　◆　
    // 　　◆　　　　　　　　　　　　　　　　◆　　　　◆　
    // 　◆　　　　　　　　　　　　　　　　◆　　　◆◆◆　
    var tableContent = new Vue({
      el: "#tableContent",
      //数据部分 
      data: {
        age: "",
        name: "",
        searchData: {
          age: "",
          name: ""
        },
        otherData: {
          sex: "",
          age: ""
        }
      },

      //方法
      methods: {
        toSearch: function() {
          this.searchData = {
            age: this.age,
            name: this.name
          };
        }
      }
    });
  </script>
</body>

</html>